extends ../../layouts/default
include ../../mixins/table-tree.pug

block main
    if (role.permissions.includes("products-category_view"))
        .card.mb-3
            .card-header Danh sách
            .card-body
            .row
                .col-8
                if (role.permissions.includes("products-category_create"))
                    a(
                        href=`/admin/products-category/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới
                table.table.table-hover.table-sm
                    thead
                        tr
                            th
                                input(type="checkbox" name="checkall")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Vị trí
                            th Trạng thái
                            th Hành động
                    tbody
                        +table-tree(records)