mixin filter-status(filterStatus)
    .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      each item in filterStatus
        button(class=`btn btn-sm ml-1 btn-outline-success ${item.class}` status=`${item.status}`) #{item.name}