mixin pagination(paginationObject)
    nav
        ul(class="pagination")
            if (paginationObject.currentPage > 1)
                li(class="page-item" change="back")
                    button(class="page-link") Trang trước
            - for (let i = 1; i <= paginationObject.totalPage; i++)
                li(class=`page-item ${paginationObject.currentPage == i ? "active" : ""}` page=i)
                    button(class="page-link") #{i}
            if (paginationObject.currentPage < paginationObject.totalPage)
                li(class="page-item")
                    button(class="page-link" change="next") Kế tiếp